* {
  margin: 0 5px;
  padding: 2px;
}
.head {
  background: url(/img/High-Resolution-Background-Images.jpg);
  background-position: center;

  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: aliceblue;
  display: flex;
  padding: 10px;
}
h1{
  margin-left: 25px;
}
section {
  margin: 10px;
  padding: 5px;
}
p {
  font-family: "Open Sans", sans-serif;
}
.semester1Table {
  box-shadow: 2px black;
}
a{
  text-decoration: none;
  color: aliceblue;
}

.pics{
  width: 90px;
  height: 110px;
  margin: 10px;
 text-align: end;
}